/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
    color: #333;
}

/* Link Styles */
a {
    color: #007bff;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Heading Styles */
h1 {
    padding:10px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
}

/* Paragraph Styles */
p {
    margin-bottom: 10px;
}

/* Example Class */
.example-class {
    color: #ff0000;
    font-weight: bold;
}
.table-container{
    padding:1%;

}